<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.swagLabs.utilities.ExtentListenerClass"></listener>

</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.swagLabs.testCases.TC_001LoginPageTest"/>
      <class name="com.swagLabs.testCases.TC_002InventoryPageTest"/>
      <class name="com.swagLabs.testCases.TC_003YourCartPageTest"/>
      <class name="com.swagLabs.testCases.TC_004CheckoutYourInformationPageTest"/>
      <class name="com.swagLabs.testCases.TC_005CheckoutOverviewPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
